<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
  <div class="row">
    <div class="col-12 mb-1">
      <div class="content-header">แดชบอร์ด</div>
      <p class="content-sub-header mb-1">แสดงข้อมูลประจำวัน</p>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-warning">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">20 รายการ</h3>
                <span>จำนวน PO ทั้งหมด</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-briefcase font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-success">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">2</h3>
                <span>จำนวนผู้ใช้งาน</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-user font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-danger">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">20 รายการ</h3>
                <span>จำนวนเอกสาร</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-pie-chart font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-primary">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-body text-left">
                <h3 class="card-text">10 รายการ</h3>
                <span>รายการที่เสร็จสิ้น</span>
              </div>
              <div class="media-right align-self-center">
                <i class="ft-life-buoy font-large-2 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-primary">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-book-open font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">4 ตัว</h3>
                <span>เปลี่ยนซีล</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-danger">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-message-square font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">12</h3>
                <span>ยกเลิกออเดอร์</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-success">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-trending-up font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">64.89 %</h3>
                <span>เปอร์เซนต์</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card card-inverse bg-warning">
        <div class="card-content">
          <div class="card-body">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="ft-map-pin font-large-2 float-left"></i>
              </div>
              <div class="media-body text-right">
                <h3 class="card-text">30</h3>
                <span>เข้ารับซีล</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
<!-- // Minimal statistics with bg color section end -->
