<section id="docs-modal">
  <div class="row">
    <div class="col-12">
      <div class="content-header">จัดการเอกสาร #</div>
    </div>
  </div>
  <!-- Basic Form & Hidden Label Layouts starts -->
  <section id="basic-hidden-label-form-layouts">
    <div class="row match-height">
      <!-- Basic Form starts -->
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Po Infomation</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form [formGroup]="fpoForm" (ngSubmit)="saveFPO()" enctype="multipart/form-data">
                <div class="row">
                  <div class="row col-7">
                  </div>
                  <div class="row col-5">
                    <div class="col">
                      <label for="basic-form-4">เลขที่เอกสาร</label>
                      <input type="text" class="form-control" formControlName="docNo" readonly="readonly">
                    </div>
                    <div class="col">
                      <label for="basicInput">วันที่ :</label>
                      <div class="form-inline">
                        <div class="input-group" style="width: 100%;">
                          <input class="form-control" formControlName="docDate" readonly (click)="dpStart.toggle()"
                            placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="dtStart" ngbDatepicker
                            [dayTemplate]="customDay" [markDisabled]="isDisabled" #dpStart="ngbDatepicker">
                          <div class="input-group-append">
                            <div class="input-group-text" (click)="dpStart.toggle()">
                              <i class="ft ft-calendar" style="cursor: pointer;"></i>
                            </div>
                          </div>
                          <ng-template #customDay let-date="date" let-currentMonth="currentMonth"
                            let-selected="selected" let-disabled="disabled">
                            <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected"
                              [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                              {{ date.day }}
                            </span>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4 col-12">
                    <div class="form-group mb-2">
                      <label for="basic-form-6">Status</label>
                      <select class="form-control" formControlName="statusId">
                        <option value="0" selected disabled>---ไม่ระบุ---</option>
                        <option *ngFor="let item of status" [value]="item.statusId">{{ item.statusName }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4 col-12">
                    <div class="form-group mb-2">
                      <label for="basic-form-2">วันที่ของมาถึง</label>
                      <div class="form-inline">
                        <div class="input-group" style="width: 100%;">
                          <input class="form-control" formControlName="arrived" readonly (click)="dpEnd.toggle()"
                            placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="dtEnd" ngbDatepicker
                            [dayTemplate]="customDay" [markDisabled]="isDisabled" #dpEnd="ngbDatepicker">
                          <div class="input-group-append">
                            <div class="input-group-text" (click)="dpEnd.toggle()">
                              <i class="ft ft-calendar" style="cursor: pointer;"></i>
                            </div>
                          </div>
                          <ng-template #customDay let-date="date" let-currentMonth="currentMonth"
                            let-selected="selected" let-disabled="disabled">
                            <span class="custom-day" [class.weekend]="isWeekend(date)" [class.bg-primary]="selected"
                              [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
                              {{ date.day }}
                            </span>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr class="bg-info" style="color: white;">
                          <th>Item</th>
                          <th>เลขที่ใบสั่งซื้อ (PO)</th>
                          <th>เลขที่ใบขอซื้อ (PR)</th>
                          <th>เลขที่ Job</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container formArrayName="pOlist">
                          <ng-container
                            *ngFor="
                              let control of pOlistControls.controls;
                              let idx = index
                            "
                          >
                            <tr [formGroupName]="idx">
                              <td>
                                <input type="text" class="form-control" markDisabled="true" formControlName="item">
                              </td>
                              <td>
                                <input type="text" class="form-control" formControlName="poNo">
                                <label for="basic-form-8">เลือกไฟล์</label>
                                <input type="file" class="form-control" formControlName="poPath" ng2FileSelect
                                  accept="application/pdf">
                              </td>

                              <td>
                                <input type="text" class="form-control" formControlName="prNo">
                                <label for="basic-form-8">เลือกไฟล์</label>
                                <input type="file" class="form-control" formControlName="prPath" ng2FileSelect
                                  accept="application/pdf">
                              </td>
                              <td>
                                <input type="text" class="form-control" formControlName="jobNo">
                              </td>
                              <td>
                                <button class="btn btn-danger" (click)="removeItemPO(idx)"><i
                                    class="fa fa-trash"></i></button>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </tbody>
                    </table>
                    <button type="button" class="btn btn-outline-info" (click)="addItemPO()"><i
                        class="fa fa-plus">เพิ่มรายการ</i></button>
                  </div>

                </div>
                <div class="form-row">
                  <div class="col-md-6 col-12">
                    <label for="basic-form-7">ผู้ขอซื้อ</label>
                    <div class="form-inline">
                      <div class="input-group mb-2" style="width: 100%;">
                        <select id="basic-form-7" name="budget" class="form-control" formControlName="buyerId">
                          <option value="0" selected disabled>--เลือกผู้ขอซื้อ--</option>
                          <option value="1">Nattida</option>
                          <option value="2">Chanarong</option>
                          <option value="3">Sattawat</option>
                        </select>
                        <div class="input-group-append">
                          <button class="btn btn-success" (click)="addUser()"> <i class="ft ft-plus"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <label for="basic-form-7">Supplier</label>
                    <div class="form-inline">
                      <div class="input-group mb-2" style="width: 100%;">
                        <select id="basic-form-7" name="budget" class="form-control" formControlName="supplierId">
                          <option value="0" selected disabled>--เลือก Supplier--</option>
                          <option value="1">FMC</option>
                          <option value="2">Chemtec</option>
                          <option value="3">Scully</option>
                        </select>
                        <div class="input-group-append">
                          <button class="btn btn-success"> <i class="ft ft-plus"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6 col-12">
                    <div class="form-group mb-2">
                      <label for="basic-form-3">Payment Term</label>
                      <input type="text" id="basic-form-3" class="form-control" name="Payment Term"
                        formControlName="paymentTerm">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <label for="basic-form-7">Deliver Term</label>
                    <div class="form-inline">
                      <div class="input-group mb-2" style="width: 100%;">
                        <select id="basic-form-7" name="budget" class="form-control" formControlName="deliveryTermId">
                          <option value="0" selected disabled>--เลือก Supplier--</option>
                          <option value="1">30 วัน</option>
                          <option value="2">60 วัน</option>
                          <option value="3">90 วัน</option>
                        </select>
                        <div class="input-group-append">
                          <button class="btn btn-success"> <i class="ft ft-plus"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group mb-2">
                      <label for="basic-form-3">ใบชั่งตวงวัด</label>
                      <ul class="list-unstyled mb-0 mt-1">
                        <li class="d-inline-block mr-2">
                          <div class="radio">
                            <input type="radio" id="radio1" [checked]="fpoForm.get('isMethods').value === true"
                              (change)="fpoForm.get('isMethods').setValue(true)">
                            <label for="radio1">ทำ</label>
                          </div>
                        </li>
                        <li class="d-inline-block mr-2">
                          <div class="radio">
                            <input type="radio" id="radio2" [checked]="fpoForm.get('isMethods').value === false"
                              (change)="fpoForm.get('isMethods').setValue(false)">
                            <label for="radio2">ไม่ทำ</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group mb-2">
                      <label for="basic-form-9">หมายเหตุ</label>
                      <textarea id="basic-form-9" rows="4" class="form-control" name="comment"
                        formControlName="remarks"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-end">
                  <button type="submit" class="btn btn-lg btn-primary"><i
                      class="ft-check-square mr-1"></i>บันทึก</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Basic Form ends -->
    </div>
  </section>
  <!-- Basic Form & Hidden Label Layouts ends -->
  <!--   <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header  layout-dark">
          <div class="card-title">Order Acknowleged</div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="horizontal-form-1">OA / OC</label>
                  <div class="col-md-9">
                    <input type="file" class="form-control" onchange="console.log(event.target.files)">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="horizontal-form-2">Ship date</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control square" id="horizontal-form-2" name="last-name">
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-lg btn-primary">บันทึก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header  layout-dark">
          <div class="card-title">Ready to Shipped</div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">

            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-lg btn-primary">บันทึก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header  layout-dark">
          <div class="card-title">On the Way</div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">

            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-lg btn-primary">บันทึก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header  layout-dark">
          <div class="card-title">Received</div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="row">

            </div>
            <div class="row justify-content-center">
              <button type="submit" class="btn btn-lg btn-primary">บันทึก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>