<section id="docs-list">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="name">เลขที่เอกสาร :</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="name">เลขที่ใบสั่งซื้อ (PO):</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="name">Supplier's Name :</label>
                            <input type="text" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-3">ค้นหา</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 d-flex justify-content-start">
            <h5 class="mt-2 mb-0"><span class="d-flex align-items-center"><i class="ft-file-text mr-2"></i><span
                        class="font-large-1">รายการเอกสาร</span></span></h5>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button type="button" class="btn btn-info mr-2">
                <span class="d-flex align-items-center">
                    <i class="fa fa-plus mr-1"></i>
                    <span>สร้าง</span>
                </span>
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>เลขที่เอกสาร</th>
                                        <th>PO</th>
                                        <th>Supplier's Name</th>
                                        <th>Status</th>
                                        <th>Total Price</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data;let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.docno }}</td>
                                        <td>{{ item.pono }}</td>
                                        <td>{{ item.supplierName }}</td>
                                        <td>{{ item.status }}</td>
                                        <td>{{ item.totalPrice }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary">
                                                <i class="fa fa-pencil">แก้ไข</i>
                                            </a>
                                            |
                                            <button class="btn btn-sm btn-danger">
                                                <i class="fa fa-trash">ลบ</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>